# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
*.suo

# mstest test results
TestResults

# NuGet Packages Directory
## TODO: If you have NuGet Package Restore enabled, uncomment the next line
packages/
